<!doctype html>

<head>
  <!-- Кодировка веб-страницы -->
  <meta charset="utf-8">
  <!-- Настройка viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- Bootstrap CSS (jsDelivr CDN) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  
  <title> Список постов </title>
</head>

<body>
    <div class="table-responsive"> 
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Пользователь</th>
          <th>Заголовок</th>
          <th>Пост</th>
        </tr>
      </thead>
    
    <tbody>
    {% for n in post %}
        <tr class= "table-light">
                        
            <td><strong class="text-success">{{n.userId}}</strong></td>
            <td><span class="text-muted pull-right">{{n.title}}</span></td>
            
            <td>
            <div class="media-body">
            <p>{{n.content}}</p>
            </div>
            </td>
          
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div> 
    
</body>